<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!--<security:debug/>-->
    <security:http auto-config='true' use-expressions="true" access-denied-page="/accessDenied.html">
        <security:intercept-url pattern="/student/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/usrs/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/**" access="permitAll"/>
        <!--<security:access-denied-handler ref="myAccessDeniedHandler" />-->

        <!--<security:anonymous />-->
        <!--<security:intercept-url pattern="/web-resources/**" access="permitAll"/>-->
        <!--<security:intercept-url pattern="/login*" access="permitAll"/>-->
        <!--<security:intercept-url pattern="/logout*" access="permitAll"/>-->
        <!--<security:intercept-url pattern="/index*" access="permitAll"/>-->
        <!--<security:intercept-url pattern="/accessDenied.html" access="permitAll"/>-->
        <!--<security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>-->

        <security:logout logout-url="/logout.html"
                         logout-success-url="/login.html?loggedout=true"
                         invalidate-session="true"/>

        <security:form-login login-page="/login.html"
                             password-parameter="pass"
                             always-use-default-target="false"
                             authentication-failure-url="/login.html?authfailed=true"
                             default-target-url="/index.html"/>


        <security:session-management invalid-session-url="/login.html">
            <security:concurrency-control
                    error-if-maximum-exceeded="true"
                    max-sessions="1"
                    expired-url="/login.html"
                    session-registry-ref="sessionRegistry"/>
        </security:session-management>
    </security:http>

    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

    <!-- handler for authorization failure.  Will redirect to the login page. -->
    <!--<bean id="myAccessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">-->
    <!--<property name="errorPage" value="/accessDenied.html" />-->
    <!--</bean>-->

    <bean id="sessionRegistry"
          class="org.springframework.security.core.session.SessionRegistryImpl"/>


    <!--<security:authentication-manager>-->
    <!--<security:authentication-provider>-->
    <!--<security:user-service>-->
    <!--<security:user name="jimi" password="jimi" authorities="ROLE_USER, ROLE_ADMIN"/>-->
    <!--<security:user name="bob" password="bob" authorities="ROLE_USER"/>-->
    <!--</security:user-service>-->
    <!--</security:authentication-provider>-->
    <!--</security:authentication-manager>-->


    <bean id='userDetailsService' class='md.victordov.service.UserDetailsServiceImpl'/>


    <security:authentication-manager alias="authenticationManager">

        <security:authentication-provider user-service-ref="userDetailsService">
            <security:password-encoder hash="sha-256"/>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>